<div class="row">
    <div class="col-12 attendance">
        <div class="card">
            <div class="card-body">
                <h3 class="card-title font-weight-bold mb-4">
                    SOP-<%= id %> Coming Soon             
                </h3>
               
            </div>
        </div>

    </div>
</div>