<div class="row">
  <div class="col-12">
    <div class="card border-0">
      <div class="card-body alert alert-warning">
        <h5 class="card-title font-weight-bold mb-4">Stock Register</h5>
        <form action="/wherehouse/stock/register" method="POST">
          <div class="row">
            <div class="col-lg-3 mb-3 col-md-4 col-sm-6 col-12">
              <label for="sNo" class="form-label">S.No</label>
              <input
                type="text"
                name="sNo"
                id="sNo"
                value="1"
                class="form-control"
              />
            </div>
            <div class="col-lg-3 mb-3 col-md-4 col-sm-6 col-12">
              <label for="date" class="form-label">Date</label>
              <input type="date" id="date" name="date" class="form-control" />
            </div>
            <div class="col-lg-3 mb-3 col-md-4 col-sm-6 col-12">
              <label for="partyName" class="form-label">Party Name</label>
              <input
                type="text"
                id="partyName"
                name="partyName"
                class="form-control"
              />
            </div>
            <div class="col-lg-3 mb-3 col-md-4 col-sm-6 col-12">
              <label for="invoiceNo" class="form-label">Invoice No</label>
              <input
                type="text"
                id="invoiceNo"
                name="invoiceNo"
                class="form-control"
              />
            </div>
            <div class="col-lg-3 mb-3 col-md-4 col-sm-6 col-12">
              <label for="openingQty" class="form-label">Opening Qty</label>
              <input
                type="text"
                id="openingQty"
                name="openingQty"
                class="form-control"
              />
            </div>
            <div class="col-lg-3 mb-3 col-md-4 col-sm-6 col-12">
              <label for="recievedQty" class="form-label">Recieved Qty</label>
              <input
                type="text"
                id="recievedQty"
                name="recievedQty"
                class="form-control"
              />
            </div>
            <div class="col-lg-3 mb-3 col-md-4 col-sm-6 col-12">
              <label for="lotNo" class="form-label">Lot No / Batch No</label>
              <input type="text" id="lotNo" name="lotNo" class="form-control" />
            </div>
            <div class="col-lg-3 mb-3 col-md-4 col-sm-6 col-12">
              <label for="issueDate" class="form-label">Issue Date</label>
              <input
                type="text"
                id="issueDate"
                name="issueDate"
                class="form-control"
              />
            </div>
            <div class="col-lg-3 mb-3 col-md-4 col-sm-6 col-12">
              <label for="issueQty" class="form-label">Issue Qty</label>
              <input
                type="text"
                id="issueQty"
                name="issueQty"
                class="form-control"
              />
            </div>
            <div class="col-lg-3 mb-3 col-md-4 col-sm-6 col-12">
              <label for="plantTank" class="form-label">Plant Tank</label>
              <input
                type="text"
                id="plantTank"
                name="plantTank"
                class="form-control"
              />
            </div>
            <div class="col-lg-3 mb-3 col-md-4 col-sm-6 col-12">
              <label for="useBatchNo" class="form-label">Use Batch No</label>
              <input
                type="text"
                id="useBatchNo"
                name="useBatchNo"
                class="form-control"
              />
            </div>
            <div class="col-lg-3 mb-3 col-md-4 col-sm-6 col-12">
              <label for="useDate" class="form-label">Use Date</label>
              <input
                type="text"
                id="useDate"
                name="useDate"
                class="form-control"
              />
            </div>
            <div class="col-lg-3 mb-3 col-md-4 col-sm-6 col-12">
              <label for="cloasingBalance" class="form-label"
                >Closing Balance</label
              >
              <input
                type="text"
                id="cloasingBalance"
                name="cloasingBalance"
                class="form-control"
              />
            </div>
            <div class="col-12">
              <button class="btn btn-warning px-3">Submit</button>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
