<div class="row">
  <div class="col-12">
    <div class="card border-0">
      <div class="card-body">
        <h3 class="card-title font-weight-bold">Stage</h3>

        <!-- <div class="mt-4">
                    <h6 class="card-title font-weight-bold mb-0 pl-3">
                        QC Row Material
                    </h6>
                    <ul class="d-flex justify-content-around flex-wrap list-unstyled">
                        <li class="border p-3 m-2" style="width: 200px">
                            <a class="p-3" href="/qc/stage/wip">WIP</a>
                        </li>

                        <li class="border p-3 m-2" style="width: 200px">
                            <a class="p-3" href="/qc/stage/wip">WIP</a>
                        </li>

                        <li class="border p-3 m-2" style="width: 200px">
                            <a class="p-3" href="/qc/stage/wip">WIP</a>
                        </li>

                        <li class="border p-3 m-2" style="width: 200px">
                            <a class="p-3" href="/qc/stage/wip">WIP</a>
                        </li>
                        

                    </ul>
                </div> -->

        <div class="mt-2">
          <div class="row bg-light shadow-sm border p-3">
            <div class="col-md-6 col-12 text-left">
              <div class="row">
                <div class="col-12">
                  <h4 class="card-title text-center font-weight-bold mb-3">
                    FG
                  </h4>
                </div>
                <div class="col-sm-6 col-12">
                  <h5 class="text-left">Cristal</h5>
                  <ul class="flex-column pl-3">
                    <li>
                      <a href="/qc/material/stage/gc-log-book"> GC Log Book </a>
                    </li>
                    <li>
                      <a href="/qc/material/fg/melting-point">Melting Point</a>
                    </li>
                    <li>
                      <a href="/qc/material/fg/oven">Oven</a>
                    </li>
                    <li>
                      <a href="/qc/material/stage/polarimeter">Polarimeter log book</a>
                    </li>

                    <li>
                      <a href="/qc/material/fg/waterbath">WaterBath</a>
                    </li>
                    <li>
                      <a href="/qc/material/fg/weighingbalance">Weighing Balance</a>
                    </li>
                  </ul>
                </div>
                <div class="col-sm-6 col-12">
                  <h5 class="text-left">Liquid</h5>
                  <ul class="flex-column pl-3">
                    <li>
                      <a href="/qc/material/stage/polarimeter">Polarimeter Log Book</a>
                    </li>
                  </ul>
                </div>
              </div>
            </div>
            <div class="col-md-6 col-12">
              <div class="row">
                <div class="col-sm-6 col-12">
                  <h4 class="card-title font-weight-bold mb-3">RM</h4>
                  <ul class="flex-column pl-3">
                    <li>
                      <a href="/qc/material/stage/gc-log-book">GC Log Book</a>
                    </li>
                    <li>
                      <a href="/qc/material/stage/polarimeter">polarimeter Log Book</a>
                    </li>
                  </ul>
                </div>
                <div class="col-sm-6 col-12">
                  <h4 class="card-title font-weight-bold mb-3">WIP</h4>
                  <ul class="flex-column pl-3">
                    <li>
                      <a href="/qc/material/stage/gc-log-book">GC Log Book</a>
                    </li>
                  </ul>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
