<nav class="navbar navbar-expand-md navbar-light sidebar sidebar-light rounded-0 px-0">
  <div class="container-fluid px-0">
    <button class="navbar-toggler p-1 admin_toggler" type="button" data-toggle="collapse" data-target="#sidebar"
      aria-controls="sidebar" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="sidebar">

      <div class="sidebar-menu sidenavbar_unorderlist">
        <ul class="list list-unstyled list-scrollbar">
          <% if(whereUser){ %>
            <li>
              <a href="#" class="list-link link-arrow my-2">
                <span class="list-icon"><i class="fas fa-chart-pie"></i></span>
                Wherehouse
              </a>
              <ul class="list-unstyled list-hidden">
                <li>
                  <a href="/wherehouse/material/checklist" class="list-link">
                    <i class="fas fa-edit"></i> Check List</a>
                </li>
                <li>
                  <a href="/wherehouse/material/physical" class="list-link">
                    <i class="fas fa-edit"></i> Physical</a>
                </li>
                <li>
                  <a href="/wherehouse/material/incoming" class="list-link">
                    <i class="fas fa-edit"></i> Incoming</a>
                </li>
              </ul>
            </li>

            <li>
              <a href="#" class="list-link link-arrow my-2">
                <span class="list-icon"><i class="fas fa-chart-pie"></i></span>
                Stock
              </a>
              <ul class="list-unstyled list-hidden">
                <li>
                  <a href="/wherehouse/stock/register" class="list-link">
                    <i class="fas fa-edit"></i> Register</a>
                </li>
                <li>
                  <a href="/wherehouse/stock/request" class="list-link">
                    <i class="fas fa-edit"></i> Request</a>
                </li>
                <li>
                  <a href="/wherehouse/stock/issue" class="list-link">
                    <i class="fas fa-edit"></i> Issue</a>
                </li>
              </ul>
            </li>

            <li>
              <a href="#" class="list-link link-arrow my-2">
                <span class="list-icon"><i class="fas fa-chart-pie"></i></span>
                Views
              </a>
              <ul class="list-unstyled list-hidden">
                <li>
                  <a href="/wherehouse/material/view/checklist" class="list-link">
                    <i class="fas fa-edit"></i> Check List</a>
                </li>
                <li>
                  <a href="/wherehouse/material/view/physical" class="list-link">
                    <i class="fas fa-edit"></i> Physical</a>
                </li>
                <li>
                  <a href="/wherehouse/material/view/incoming" class="list-link">
                    <i class="fas fa-edit"></i> Incoming</a>
                </li>
                <li>
                  <a href="/wherehouse/material/pending" class="list-link">
                    <i class="fas fa-edit"></i> Pending Requests</a>
                </li>
              </ul>
            </li>



            <% }else{ %>
              <% } %>
        </ul>
      </div>







    </div>
  </div>
</nav>






















<!-- <ul class="list-unstyled" style="height: 100vh;" id="sideNavbar">
    <li>
      <a href="/admin/home" class="nav-link text-dark">Home</a>
    </li>
    <li class="nav-item dropdown">
      <a class="nav-link dropdown-toggle text-dark" href="#" id="navbarDropdown" data-bs-toggle="dropdown">
        PO Management
      </a>
      <ul class="dropdown-menu text-white" aria-labelledby="navbarDropdown">
        <li><a class="dropdown-item" href="/admin/viewpo">View</a></li>
        <li><a class="dropdown-item" href="/admin/createpo">Create PO</a></li>
        <li><a class="dropdown-item" href="/admin/exportpo">Export PO</a></li>
      </ul>
    </li>
  </ul> -->