<div class="row">
  <div class="col-lg-8 col-md-10 col-12 offset-lg-2 offset-md-1">
    <div class="card">
      <div class="card-body">
        <h4 class="text-center mb-4 pb-0">Add New Customer</h4>
        <form action="/admin/add/customer" method="POST" class="row g-3">
          <div class="col-md-12 mb-3">
            <label for="customer" class="form-label">Customer</label>
            <input
              type="text"
              class="form-control form-control-sm"
              name="customer"
              id="customer"
              placeholder="Enter customer"
              required
            />
          </div>
          <div class="col-md-12 mb-3 position-relative">
            <label for="customerName" class="form-label">Customer Name</label>
            <textarea
              type="text"
              class="form-control form-control-sm"
              name="customerName"
              id="customerName"
              placeholder="Enter Customer Name"
              rows="2"
              required
            ></textarea>
          </div>

          <div class="col-md-12 mb-3">
            <label for="address" class="form-label">Address</label>
            <textarea
              type="text"
              class="form-control form-control-sm"
              name="address"
              id="address"
              rows="2"
              placeholder="Enter Customer Address"
              required
            ></textarea>
          </div>

          <div class="col-12">
            <button type="submit" class="btn btn-warning px-3 btn-sm">
              Add Customer
            </button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
