<div class="card">
    <div class="card-header border-2 border-bottom border-warning pb-0 mb-0">
        <h4>Update</h4>
    </div>
    <div class="card-body">

        <div class="table-responsive">
            <table class="table table-bordered">
                <thead>
                    <tr class="table-warning">
                        <th>Plant No.</th>
                        <th>Status</th>
                        <th>Process</th>
                        <th>Bacth No.</th>
                        <th>Action</th>
                    </tr>
                </thead>
                <tbody>

                    <tr class="align-middle">
                        <form action="/user/factory/update/P-18" method="POST">
                            <td>P-18</td>
                            <td>
                                <select name="status" id="factorystatus" class="form-control">
                                    <option value="">Select Status</option>
                                    <option value="Running">Running</option>
                                    <option value="Under Maintenance">Under Maintenance</option>
                                    <option value="Defective">Defective</option>
                                </select>
                            </td>

                            <td>
                                <div class="process">
                                    <input type="text" name="process" class="form-control"
                                        placeholder="Enter Process Details">
                                </div>
                            </td>

                            <td>
                                <div class="batch">
                                    <input type="text" name="batchNo" class="form-control" placeholder="Enter Batch No">
                                </div>
                            </td>

                            <td>
                                <button class="btn btn-warning">Update</button>
                            </td>
                        </form>
                    </tr>

                    <tr class="align-middle">
                        <form action="/user/factory/update/P-19" method="POST">
                            <td>P-19</td>
                            <td>
                                <select name="status" id="factorystatus" class="form-control">
                                    <option value="" selected>Select Status</option>
                                    <option value="Running">Running</option>
                                    <option value="Under Maintenance">Under Maintenance</option>
                                    <option value="Defective">Defective</option>
                                </select>
                            </td>

                            <td>
                                <div class="process">
                                    <input type="text" name="process" class="form-control"
                                        placeholder="Enter Process Details">
                                </div>
                            </td>

                            <td>
                                <div class="batch">
                                    <input type="text" name="batchNo" class="form-control" placeholder="Enter Batch No">
                                </div>
                            </td>

                            <td>
                                <button class="btn btn-warning">Update</button>
                            </td>
                        </form>
                    </tr>

                    <tr class="align-middle">
                        <form action="/user/factory/update/V-6" method="POST">
                            <td>V-6</td>
                            <td>
                                <select name="status" id="factorystatus" class="form-control">
                                    <option value="" selected>Select Status</option>
                                    <option value="Running">Running</option>
                                    <option value="Under Maintenance">Under Maintenance</option>
                                    <option value="Defective">Defective</option>
                                </select>
                            </td>

                            <td>
                                <div class="process">
                                    <input type="text" name="process" class="form-control"
                                        placeholder="Enter Process Details">
                                </div>
                            </td>

                            <td>
                                <div class="batch">
                                    <input type="text" name="batchNo" class="form-control" placeholder="Enter Batch No">
                                </div>
                            </td>

                            <td>
                                <button class="btn btn-warning">Update</button>
                            </td>
                        </form>
                    </tr>


                    <tr class="align-middle">
                        <form action="/user/factory/update/V-10" method="POST">
                            <td>V-10</td>
                            <td>
                                <select name="status" id="factorystatus" class="form-control">
                                    <option value="" selected>Select Status</option>
                                    <option value="Running">Running</option>
                                    <option value="Under Maintenance">Under Maintenance</option>
                                    <option value="Defective">Defective</option>
                                </select>
                            </td>

                            <td>
                                <div class="process">
                                    <input type="text" name="process" class="form-control"
                                        placeholder="Enter Process Details">
                                </div>
                            </td>

                            <td>
                                <div class="batch">
                                    <input type="text" name="batchNo" class="form-control" placeholder="Enter Batch No">
                                </div>
                            </td>

                            <td>
                                <button class="btn btn-warning">Update</button>
                            </td>
                        </form>
                    </tr>

                    <tr class="align-middle">
                        <form action="/user/factory/update/L3-007" method="POST">
                            <td>L3-007</td>
                            <td>
                                <select name="status" id="factorystatus" class="form-control">
                                    <option value="" selected>Select Status</option>
                                    <option value="Running">Running</option>
                                    <option value="Under Maintenance">Under Maintenance</option>
                                    <option value="Defective">Defective</option>
                                </select>
                            </td>

                            <td>
                                <div class="process">
                                    <input type="text" name="process" class="form-control"
                                        placeholder="Enter Process Details">
                                </div>
                            </td>

                            <td>
                                <div class="batch">
                                    <input type="text" name="batchNo" class="form-control" placeholder="Enter Batch No">
                                </div>
                            </td>

                            <td>
                                <button class="btn btn-warning">Update</button>
                            </td>
                        </form>
                    </tr>

                </tbody>
            </table>
        </div>


    </div>
</div>