<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    <%- include('./partials/links/headerlinks') -%> 
</head>
<body>
    <!-- TOP NAVBAR  -->
    <nav class="navbar navbar-expand-lg navbar-light bg-warning  py-2" id="navbar">
        <div class="container-fluid">
            <a class="navbar-brand">
                sharp global
            </a>
            <div class="" id="navbarSupportedContent">
                <ul class="list-unstyled ml-md-auto mb-2 mb-lg-0 d-flex mr-md-0 mr-5">              
                    <li class="nav-item">
                        <a class="nav-link text-dark" href="/">Login</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav> 


    <%- body %> 


    <%- include('./partials/links/footerlinks') -%>
</body>
</html>