<div class="card">
    <div class="card-header mb-0 pb-0 border-bottom border-2 border-warning">
        <h4>Update Inventory</h4>
    </div>
    <div class="card-body">
        <form action="/admin/update/inventory" class="row g-3" method="POST">
            <div class="col-md-3">
                <div class="form-group">
                    <label for="batchNo">Batch No</label>
                    <input type="text" name="batchNo" id="batchNo" class="form-control" placeholder="Enter Batch No">
                </div>
            </div>
            <div class="col-md-3">
                <div class="form-group">
                    <label for="a_Pinene">A Pinene</label>
                    <input type="Number" name="a_Pinene" id="a_Pinene" class="form-control"
                        placeholder="Enter A Pinene">
                </div>
            </div>

            <div class="col-md-3">
                <div class="form-group">
                    <label for="b_Pinene">B Pinene</label>
                    <input type="Number" name="b_Pinene" id="b_Pinene" class="form-control"
                        placeholder="Enter B Pinene">
                </div>
            </div>

            <div class="col-md-3">
                <div class="form-group">
                    <label for="sebanine">Sebanine</label>
                    <input type="Number" name="sebanine" id="sebanine" class="form-control"
                        placeholder="Enter Sebanine">
                </div>
            </div>

            <div class="col-md-3">
                <div class="form-group">
                    <label for="mercine">Mercine</label>
                    <input type="Number" name="mercine" id="mercine" class="form-control" placeholder="Enter Mercine">
                </div>
            </div>

            <div class="col-md-3">
                <div class="form-group">
                    <label for="limonine">Limonine</label>
                    <input type="Number" name="limonine" id="limonine" class="form-control"
                        placeholder="Enter Limonine">
                </div>
            </div>

            <div class="col-md-3">
                <div class="form-group">
                    <label for="cineole">Cineole</label>
                    <input type="Number" name="cineole" id="cineole" class="form-control" placeholder="Enter Cineole">
                </div>
            </div>

            <div class="col-md-3">
                <div class="form-group">
                    <label for="cisIsomer">CIS Isomer</label>
                    <input type="Number" name="cisIsomer" id="cisIsomer" class="form-control"
                        placeholder="Enter CIS Isomer">
                </div>
            </div>

            <div class="col-md-3">
                <div class="form-group">
                    <label for="cis">CIS</label>
                    <input type="Number" name="cis" id="cis" class="form-control" placeholder="Enter CIS">
                </div>
            </div>

            <div class="col-md-3">
                <div class="form-group">
                    <label for="i_Octonal">I-Octonal</label>
                    <input type="Number" name="i_Octonal" id="i_Octonal" class="form-control"
                        placeholder="Enter I-Octonal">
                </div>
            </div>

            <div class="col-md-3">
                <div class="form-group">
                    <label for="menthone">Menthone</label>
                    <input type="Number" name="menthone" id="menthone" class="form-control"
                        placeholder="Enter Menthone">
                </div>
            </div>

            <div class="col-md-3">
                <div class="form-group">
                    <label for="isoMenthone">ISO Menthone</label>
                    <input type="Number" name="isoMenthone" id="isoMenthone" class="form-control"
                        placeholder="Enter ISO Menthone">
                </div>
            </div>

            <div class="col-md-3">
                <div class="form-group">
                    <label for="menthylAcetate">Menthyl Acetate</label>
                    <input type="Number" name="menthylAcetate" id="menthylAcetate" class="form-control"
                        placeholder="Enter Menthyl Acetate">
                </div>
            </div>

            <div class="col-md-3">
                <div class="form-group">
                    <label for="ip_isopulegol">IP Isopulegol</label>
                    <input type="Number" name="ip_isopulegol" id="ip_isopulegol" class="form-control"
                        placeholder="Enter IP Isopulegol">
                </div>
            </div>

            <div class="col-md-3">
                <div class="form-group">
                    <label for="neoMenthol">Neo Menthol</label>
                    <input type="Number" name="neoMenthol" id="neoMenthol" class="form-control"
                        placeholder="Enter Neo Menthol">
                </div>
            </div>

            <div class="col-md-3">
                <div class="form-group">
                    <label for="pcbBetaCaryophyllene">PCB Beta Caryophyllene</label>
                    <input type="Number" name="pcbBetaCaryophyllene" id="pcbBetaCaryophyllene" class="form-control"
                        placeholder="Enter PCB Beta Caryophyllene">
                </div>
            </div>

            <div class="col-md-3">
                <div class="form-group">
                    <label for="neoIsoPulegol">Neo Iso Pulegol</label>
                    <input type="Number" name="neoIsoPulegol" id="neoIsoPulegol" class="form-control"
                        placeholder="Enter Neo Iso Pulegol">
                </div>
            </div>

            <div class="col-md-3">
                <div class="form-group">
                    <label for="neoIsoMenthol">Neo Iso Menthol</label>
                    <input type="Number" name="neoIsoMenthol" id="neoIsoMenthol" class="form-control"
                        placeholder="Enter Neo Iso Menthol">
                </div>
            </div>

            <div class="col-md-3">
                <div class="form-group">
                    <label for="lm">lm</label>
                    <input type="Number" name="lm" id="lm" class="form-control" placeholder="Enter lm">
                </div>
            </div>

            <div class="col-md-3">
                <div class="form-group">
                    <label for="isoMenthol">Iso Menthol</label>
                    <input type="Number" name="isoMenthol" id="isoMenthol" class="form-control"
                        placeholder="Enter Iso Menthol">
                </div>
            </div>

            <div class="col-md-3">
                <div class="form-group">
                    <label for="pu">Pu</label>
                    <input type="Number" name="pu" id="pu" class="form-control" placeholder="Enter Pu">
                </div>
            </div>

            <div class="col-md-3">
                <div class="form-group">
                    <label for="pip">Pip</label>
                    <input type="Number" name="pip" id="pip" class="form-control" placeholder="Enter Pip">
                </div>
            </div>

            <div class="col-md-3">
                <div class="form-group">
                    <label for="carvone">Carvone</label>
                    <input type="Number" name="carvone" id="carvone" class="form-control" placeholder="Enter Carvone">
                </div>
            </div>

            <div class="col-md-3">
                <div class="form-group">
                    <label for="aTerpineols">A Terpineols</label>
                    <input type="Number" name="aTerpineols" id="aTerpineols" class="form-control"
                        placeholder="Enter A Terpineols">
                </div>
            </div>
            <div class="col-md-3">
                <div class="form-group">
                    <label for="menthofuran">Menthofuran</label>
                    <input type="Number" name="menthofuran" id="menthofuran" class="form-control"
                        placeholder="Enter Menthofuran">
                </div>
            </div>
            <div class="col-md-3">
                <div class="form-group">
                    <label for="sebanineHydrate">Sebanine Hydrate</label>
                    <input type="Number" name="sebanineHydrate" id="sebanineHydrate" class="form-control"
                        placeholder="Enter Sebanine Hydrate">
                </div>
            </div>
            <div class="col-md-3">
                <div class="form-group">
                    <label for="germacreneD">Germacrene D</label>
                    <input type="Number" name="germacreneD" id="germacreneD" class="form-control"
                        placeholder="Enter Germacrene D">
                </div>
            </div>
            <div class="col-md-3">
                <div class="form-group">
                    <label for="viridifloral">Viridifloral</label>
                    <input type="Number" name="viridifloral" id="viridifloral" class="form-control"
                        placeholder="Enter Viridifloral">
                </div>
            </div>
            <div class="col-md-3">
                <div class="form-group">
                    <label for="diHydroCarvone">Di Hydro Carvone</label>
                    <input type="Number" name="diHydroCarvone" id="diHydroCarvone" class="form-control"
                        placeholder="Enter Di Hydro Carvone">
                </div>
            </div>
            <div class="col-md-3">
                <div class="form-group">
                    <label for="terpenene_1_4_ol">Terpenene-1,4-ol</label>
                    <input type="Number" name="terpenene_1_4_ol" id="terpenene_1_4_ol" class="form-control"
                        placeholder="Enter Terpenene-1,4-ol">
                </div>
            </div>

            <div class="col-md-3">
                <div class="form-group">
                    <label for="betaFarnacene">Beta Farnacene</label>
                    <input type="Number" name="betaFarnacene" id="betaFarnacene" class="form-control"
                        placeholder="Enter Beta Farnacene">
                </div>
            </div>
            <div class="col-md-3">
                <div class="form-group">
                    <label for="betaBourbonene">Beta Bourbonene</label>
                    <input type="Number" name="betaBourbonene" id="betaBourbonene" class="form-control"
                        placeholder="Enter Beta Bourbonene">
                </div>
            </div>

            <div class="col-md-3">
                <div class="form-group">
                    <label for="dMenthol">D Menthol</label>
                    <input type="Number" name="dMenthol" id="dMenthol" class="form-control"
                        placeholder="Enter D Menthol">
                </div>
            </div>
            <div class="col-md-3">
                <div class="form-group">
                    <label for="only_L_Menthol">Only L Menthol</label>
                    <input type="Number" name="only_L_Menthol" id="only_L_Menthol" class="form-control"
                        placeholder="Enter Only L Menthol">
                </div>
            </div>
            <div class="col-md-3">
                <div class="form-group">
                    <label for="linalool">Linalool</label>
                    <input type="Number" name="linalool" id="linalool" class="form-control"
                        placeholder="Enter linalool">
                </div>
            </div>
            <div class="col-md-3">
                <div class="form-group">
                    <label for="methylChavi">Methyl Chavi</label>
                    <input type="Number" name="methylChavi" id="methylChavi" class="form-control"
                        placeholder="Enter Methyl Chavi">
                </div>
            </div>
            <div class="col-md-3">
                <div class="form-group">
                    <label for="cis2">CIS2</label>
                    <input type="Number" name="cis2" id="cis2" class="form-control" placeholder="Enter CIS2">
                </div>
            </div>
            <div class="col-md-3">
                <div class="form-group">
                    <label for="tt">TT</label>
                    <input type="Number" name="tt" id="tt" class="form-control" placeholder="Enter TT">
                </div>
            </div>
            <div class="col-md-3">
                <div class="form-group">
                    <label for="tmc">Tmc</label>
                    <input type="Number" name="tmc" id="tmc" class="form-control" placeholder="Enter Tmc">
                </div>
            </div>
            <div class="col-md-3">
                <div class="form-group">
                    <label for="hb">HB</label>
                    <input type="Number" name="hb" id="hb" class="form-control" placeholder="Enter hb">
                </div>
            </div>
            <div class="col-md-3">
                <div class="form-group">
                    <label for="total">Total</label>
                    <input type="Number" name="total" id="total" class="form-control" placeholder="Enter Total">
                </div>
            </div>
            <div class="col-12 text-center">
                <button class="btn btn-warning">
                    Update Inventory
                </button>
            </div>
        </form>
    </div>
</div>