<div class="row">
    <div class="col-md-6 col-sm-8 col-12 attendance">
        <div class="card">
            <div class="card-body">
                <h4 class="mb-3 pl-3">Attendance</h4>
                <ul>
                    <li>
                        <a href="/gatekeeper/attendance/gate">
                            <img src="/img/checked.png" alt="approve">
                            Approve
                        </a>
                    </li>

                    <li>
                        <a href="/gatekeeper/attendance/view">
                            <img src="/img/eye.png" alt="attendace">
                            View
                        </a>
                    </li>
                </ul>
            </div>
        </div>

    </div>
</div>