<div class="row">
    <div class="col-md-6 col-sm-8 col-12 attendance">
        <div class="card">
            <div class="card-body">
                <h4 class="mb-4 text-decoration-underline ps-4">Attendance</h4>

                <ul>
                    <li>
                        <!-- href="/admin/markin" -->
                        <a class="">
                            <img src="/img/vertical.png" alt="vertical">
                            Mark-In
                        </a>
                    </li>
                    <li>
                        <!-- href="/admin/markout" -->
                        <a>
                            <img src="/img/24.png" alt="zonal">
                            Mark-Out
                        </a>

                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>