<div class="row">
    <div class="col-md-8 col-sm-8 col-12 attendance">
        <div class="card">
            <div class="card-body">
                <h4 class="mb-3 pl-3">Attendance</h4>
                <ul>
                    <li>
                        <a href="/hr/attendance/approve">
                            <img src="/img/checked.png" alt="approve">
                            Approve
                        </a>
                    </li>

                    <li>
                        <a href="/hr/attendance/view">
                            <img src="/img/eye.png" alt="attendace">
                            View
                        </a>
                    </li>

                    <li>
                        <a href="/hr/attendance/summery">
                            <img src="/img/monthly.png" alt="summery">
                            Summery
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>