<div class="row">
    <div class="col-12 attendance">
        <div class="card">
            <div class="card-body">
                <h3 class="card-title font-weight-bold mb-4">Add</h3>
                <form action="/qc/add" method="POST">
                    <div class="row">
                        <div class="col-md-4 col-sm-6 mb-3">
                            <label for="field1">Field-1</label>
                            <input type="text" class="form-control" name="field1" placeholder="Field-1">
                        </div>
                        <div class="col-md-4 col-sm-6 mb-3">
                            <label for="field2">Field-2</label>
                            <input type="text" class="form-control" name="field2" placeholder="Field-2">
                        </div>
                        <div class="col-md-4 col-sm-6 mb-3">
                            <label for="field3">Field-3</label>
                            <select name="field3" id="" class="form-control">
                                <option  selected>Select One</option>
                                <option  value="option-1">Option-1</option>
                                <option  value="option-1">Option-2</option>
                            </select>
                        </div>
                        <div class="col-md-4 col-sm-6 mb-3">
                            <label for="field4">Field-4</label>
                            <input type="text" class="form-control" name="field4" placeholder="Field-4">
                        </div>
                        
                        <div class="col-md-4 col-sm-6 mb-3">
                            <label for="field5">Field-5</label>
                            <select name="field5" id="" class="form-control">
                                <option  selected>Select One</option>
                                <option  value="option-1">Option-1</option>
                                <option  value="option-1">Option-2</option>
                            </select>
                        </div>

                        <div class="col-md-4 col-sm-6 mb-3">
                            <label for="field6">Field-6</label>
                            <input type="text" class="form-control" name="field6" placeholder="Field-6">
                        </div>

                        <div class="col-md-4 col-sm-6 mb-3">
                            <label for="field1">Field-1</label>
                            <input type="text" class="form-control" name="field1" placeholder="Field-1">
                        </div>
                        <div class="col-md-4 col-sm-6 mb-3">
                            <label for="field1">Field-1</label>
                            <input type="text" class="form-control" name="field1" placeholder="Field-1">
                        </div>

                        <div class="col-12">
                            <button class="btn btn-warning">Submit to production</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>

    </div>
</div>