<div class="row">
  <div class="col-12 attendance">
    <div class="card">
      <div class="card-body">
        <h5 class="card-title font-weight-bold mb-4">Raw Meterial Incoming</h5>

        <div class="mt-4">
          <ul class="d-flex justify-content-around flex-wrap list-unstyled">
            <li class="border p-3 m-2" style="width: 200px">
              <a class="p-3" href="/qc/materialreport/cmo">CMO</a>
            </li>
            <li class="border p-3 m-2" style="width: 200px">
              <a class="p-3" href="/qc/materialreport/po">PO</a>
            </li>
            <li class="border p-3 m-2" style="width: 200px">
              <a class="p-3" href="/qc/materialreport/so">SO</a>
            </li>
            <li class="border p-3 m-2" style="width: 200px">
              <a class="p-3" href="/qc/materialreport/dmo">DMO</a>
            </li>
            <li class="border p-3 m-2" style="width: 200px">
              <a class="p-3" href="/qc/materialreport/menthol">Menthol</a>
            </li>
            <li class="border p-3 m-2" style="width: 200px">
              <a class="p-3" href="/qc/materialreport/menthone">Menthone</a>
            </li>
            <li class="border p-3 m-2" style="width: 200px">
              <a class="p-3" href="/qc/materialreport/dfmo">DFMO</a>
            </li>
            <li class="border p-3 m-2" style="width: 200px">
              <a class="p-3" href="/qc/materialreport/dfpo">DFPO</a>
            </li>
            <li class="border p-3 m-2" style="width: 200px">
              <a class="p-3" href="/qc/materialreport/dfso">DFSO</a>
            </li>

            <li class="border p-3 m-2" style="width: 200px">
              <a class="p-3" href="/qc/materialreport/basiloil">Basil Oil</a>
            </li>
            <li class="border p-3 m-2" style="width: 200px">
              <a class="p-3" href="/qc/materialreport/cineole">Cineole</a>
            </li>
            <li class="border p-3 m-2" style="width: 200px">
              <a class="p-3" href="/qc/materialreport/tp">TP</a>
            </li>

            <li class="border p-3 m-2" style="width: 200px">
              <a class="p-3" href="/qc/materialreport/at">AT</a>
            </li>

            <li class="border p-3 m-2" style="width: 200px">
              <a class="p-3" href="/qc/materialreport/lc">LC</a>
            </li>

            <li class="border p-3 m-2" style="width: 200px">
              <a class="p-3" href="/qc/materialreport/pc">PC</a>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>
