<nav class="navbar navbar-expand-md navbar-light sidebar sidebar-light rounded-0 px-0">
  <div class="container-fluid px-0">
    <button class="navbar-toggler p-1 admin_toggler" type="button" data-toggle="collapse" data-target="#sidebar"
      aria-controls="sidebar" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="sidebar">
      <div class="sidebar-menu sidenavbar_unorderlist">
        <ul class="list list-unstyled list-scrollbar">

          <% if(gateEntry){ %>
            <li>
              <a href="/gatekeeper/approve-delear-list" class="list-link">
                <i class="bi bi-check-circle fs-6 mr-1"></i>Approved Delears</a>
            </li>
            <li>
              <a href="#" class="list-link link-arrow my-2">
                  <i class="bi bi-box-seam fs-6"></i> Gate Entry
              </a>
              <ul class="list-unstyled list-hidden">
                <li>
                  <a href="/gatekeeper/gateentry" class="list-link">
                    <i class="fas fa-chart-pie mr-1"></i></i>Entry</a>
                </li>
                <li>
                  <a href="/gatekeeper/gateentry/view" class="list-link">
                    <i class="fas fa-edit"></i> View</a>
                </li>
              </ul>
            </li>





            <% } else if(user.empType=="tl"){ %>
              <li class="list-item">
                <ul class="list-unstyled">
                  <li>
                    <a href="/gatekeeper/home" class="list-link">
                      <i class="bi bi-house-door fs-6"></i> Home</a>
                  </li>
                  <li>
                    <a href="#" class="list-link link-arrow ">
                      <span class="list-icon"><i class="fas fa-tasks"></i></span>
                      Attendace
                    </a>
                    <ul class="list-unstyled list-hidden">
                      <li>
                        <a href="/gatekeeper/attendance/gate" class="list-link"><i class="bi bi-upload fs-6"></i>
                          Gate</a>
                      </li>
                      <li>
                        <a href="/gatekeeper/attendance/view" class="list-link link-current"><i
                            class="far fa-eye fs-6"></i> View</a>
                      </li>
                    </ul>
                  </li>

                </ul>
              </li>
              <% } %>
        </ul>
      </div>
    </div>
  </div>
</nav>
























<!-- <ul class="list-unstyled" style="height: 100vh;" id="sideNavbar">
    <li>
      <a href="/admin/home" class="nav-link text-dark">Home</a>
    </li>
    <li class="nav-item dropdown">
      <a class="nav-link dropdown-toggle text-dark" href="#" id="navbarDropdown" data-bs-toggle="dropdown">
        PO Management
      </a>
      <ul class="dropdown-menu text-white" aria-labelledby="navbarDropdown">
        <li><a class="dropdown-item" href="/admin/viewpo">View</a></li>
        <li><a class="dropdown-item" href="/admin/createpo">Create PO</a></li>
        <li><a class="dropdown-item" href="/admin/exportpo">Export PO</a></li>
      </ul>
    </li>
  </ul> -->